#footer {
    background-color: var(--principal-color); /* Fond vert olive */
    color: var(--light-grey); /* Texte gris clair */
    text-align: center;
    padding:20px;
  }
  
  #footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--principal-color); /* Fond vert olive */

  }
  
  #footer nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  #footer nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  #footer nav ul li a {
    color: var(--second-color); /* Liens en orange ocre */
    text-decoration: none;
    font-weight: bold;
  }
  
  #footer nav ul li a:hover {
    text-decoration: underline;
  }
  
  #footer .footer-paragraphe {
    margin-top: 15px;
    font-size: 0.9em;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
  }