/* Style général pour le formulaire */
.statut-form,
.statut-commande-form 
 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding:15px

}

/* Style du select */
.statut-select {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Couleurs pour chaque statut */
.statut-en-attente {
    background-color: #ffeb3b; /* Jaune pour "En attente" */
    color: #000;
}

.statut-en-preparation {
    background-color: #ff9800; /* Orange pour "En préparation" */
    color: #fff;
}

.statut-en-stock {
    background-color: #4caf50; /* Vert pour "En stock" */
    color: #fff;
}

.statut-rupture-stock {
    background-color: #f44336; /* Rouge pour "Rupture de stock" */
    color: #fff;
}


/* Style de l'icône */
.fas.fa-check-circle {
    font-size: 16px;
}