/* Conteneur principal des tableaux */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permet de scroller horizontalement sur les petits écrans */
    margin: 20px 0;
    border-radius: 8px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
    margin: 20px auto;
    table-layout: fixed; /* Gère les cellules avec des largeurs fixes */
}

/* En-têtes */
table th {
    padding: 12px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; /* Indique qu'ils sont interactifs (pour tri, etc.) */
    white-space: nowrap; /* Évite les sauts de ligne inutiles */
    background-color: var(--hover-validation);
    color: var(--police-principal) 

}

/* Style des cellules */
table td {
    padding: 10px;
    overflow-wrap: break-word; /* Coupe les mots longs */
    text-align: left;
    vertical-align: middle;

}

/* Lignes paires */
table tr:nth-child(even) {
    background-color: var(--background-second-leger);

}

/* Lignes impaires */
table tr:nth-child(odd) {
    background-color: var(--background-second);

}

/* Survol des lignes */
table tr:hover {
    background-color: var(--hover-validation);
    transform: scale(1.02); /* Zoom général sur la ligne */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animation fluide */
     color: var(--police-principal)   
}
table tr:hover td {
    font-size: 1.3em; /* Augmente légèrement la taille du texte */
    transition: font-size 0.3s ease, background-color 0.3s ease; /* Animation fluide */
    color: var(--police-principal) 
}
/* Colonnes spécifiques */
.ColonneDescription {
    max-height: 200px; /* Hauteur fixe */
    overflow-y: auto; /* Défilement vertical */
    line-height: 1.4em; /* Ajuste l'espacement entre les lignes */
    white-space: normal; /* Permet le retour à la ligne */
    text-align: left;
    background-color: none;
    
}

/* Images dans les cellules */
table td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4%;

    border: 1px solid #ddd;
}

/* Style du champ de recherche */
#searchInput {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid var(--action-validation);
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: var(--background-second-leger);
    margin-bottom: 10px;
}

/* Focus sur le champ de recherche */
#searchInput:focus {
    border-color: var(--hover-validation);
    box-shadow: 0 0 5px rgba(12, 80, 12, 0.5); /* Effet au focus */
}

/* Style du placeholder */
#searchInput::placeholder {
    color: #999;
    font-style: italic;
}

/* Boutons de tri */
table th:hover {
    background-color: var(--hover-edit);
}

/* Table responsive sur petits écrans */
@media screen and (max-width: 1450px) {
    .responsive-table {
        display: none;
    }

    table{
        display: none;
    }

}

